# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](https://review.udacity.com/#!/rubrics/2322/view).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [2]:
# Show df_content to get an idea of the data
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

In [3]:
# Show df_content to get an idea of the data
df_content

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4
5,Compose is all about immediacy. You want a new...,Using Compose's PostgreSQL data browser.,Browsing PostgreSQL Data with Compose,Live,5
6,UPGRADING YOUR POSTGRESQL TO 9.5Share on Twitt...,Upgrading your PostgreSQL deployment to versio...,Upgrading your PostgreSQL to 9.5,Live,6
7,Follow Sign in / Sign up 135 8 * Share\r\n * 1...,For a company like Slack that strives to be as...,Data Wrangling at Slack,Live,7
8,* Host\r\n * Competitions\r\n * Datasets\r\n *...,Kaggle is your home for data science. Learn ne...,Data Science Bowl 2017,Live,8
9,THE GRADIENT FLOW\r\nDATA / TECHNOLOGY / CULTU...,[A version of this post appears on the O’Reill...,Using Apache Spark to predict attack vectors a...,Live,9
10,OFFLINE-FIRST IOS APPS WITH SWIFT & PART 1: TH...,"Apple's sample app, Food Tracker, taught you i...",Offline-First iOS Apps with Swift & Cloudant S...,Live,10
11,Warehousing data from Cloudant to dashDB great...,Replicating data to a relational dashDB databa...,Warehousing GeoJSON documents,Live,11
12,Skip to main content IBM developerWorks / Deve...,This recipe showcases how one can analyze the ...,Timeseries Data Analysis of IoT events by usin...,Live,12
13,Maureen McElaney Blocked Unblock Follow Follow...,There’s a reason you’ve been hearing a lot abo...,Bridging the Gap Between Python and Scala Jupy...,Live,13
14,Raj Singh Blocked Unblock Follow Following Dev...,Who are those people lurking behind the statis...,Got zip code data? Prep it for analytics. – IB...,Live,14
15,* Home\r\n * Community\r\n * Projects\r\n * Bl...,Early methods to integrate machine learning us...,Apache Spark™ 2.0: Extend Structured Streaming...,Live,15
16,* Home\r\n * Research\r\n * Partnerships and C...,The performance of supervised predictive model...,Higher-order Logistic Regression for Large Dat...,Live,16
17,Enterprise Pricing Articles Sign in Free 30-Da...,We've always considered MySQL as a potential C...,Compose for MySQL now for you,Live,17
18,Homepage Follow Sign in / Sign up * Home\r\n *...,It has never been easier to build AI or machin...,The Greatest Public Datasets for AI – Startup ...,Live,18
19,METRICS MAVEN: MODE D'EMPLOI - FINDING THE MOD...,"In our Metrics Maven series, Compose's data sc...",Finding the Mode in PostgreSQL,Live,19
20,Homepage Follow Sign in / Sign up Homepage * H...,It is often useful to use RStudio for one piec...,Working interactively with RStudio and noteboo...,Live,20
21,Raj Singh Blocked Unblock Follow Following Dev...,You’re doing your data a disservice if you don...,Mapping for Data Science with PixieDust and Ma...,Live,21
22,IMPORTING JSON DOCUMENTS WITH NOSQLIMPORT\r\nG...,"Introducing nosqlimport, an npm module to help...",Move CSVs into different JSON doc stores,Live,22
23,This video shows you how to build and query a ...,This video shows you how to build and query a ...,Tutorial: How to build and query a Cloudant ge...,Live,23
24,THE CONVERSATIONAL INTERFACE IS THE NEW PARADI...,Botkit provides a simple framework to handle t...,The Conversational Interface is the New Paradigm,Live,24
25,Skip navigation Upload Sign in SearchLoading.....,Want to learn more about how we created the Da...,Creating the Data Science Experience,Live,25
26,GOOGLE RESEARCH BLOG The latest news from Rese...,Much of driving is spent either stuck in traff...,Using Machine Learning to predict parking diff...,Live,26
27,Skip navigation Upload Sign in SearchLoading.....,This talk assumes you have a basic understandi...,Getting The Best Performance With PySpark,Live,27
28,"ACCESS DENIED\r\nSadly, your client does not s...","In this paper, we propose gcForest, a decision...",Deep Forest: Towards An Alternative to Deep Ne...,Live,28
29,Homepage Follow Sign in / Sign up Homepage * H...,I’m very happy and proud to announce that IBM ...,Experience IoT with Coursera,Live,29
...,...,...,...,...,...
1026,Enterprise Pricing Articles Sign in Free 30-Da...,"Varun Singh, a software engineer at IBM's Wats...",Redis and MongoDB in the biomedical domain,Live,1021
1027,Skip navigation Sign in SearchLoading...\r\n\r...,This video shows you how to create and adminis...,Create and administer a data catalog using IBM...,Live,1022
1028,Compose The Compose logo Articles Sign in Free...,"With the latest 0.2.1 version of Transporter, ...",How to move data with Compose Transporter - Fr...,Live,1023
1029,Follow Sign in / Sign up * Home\r\n * About In...,Audio super-resolution aims to reconstruct a h...,Using Deep Learning to Reconstruct High-Resolu...,Live,1024
1030,Homepage Follow Sign in / Sign up Homepage * H...,"Since then, this metric has been ubiquitously ...",Data tidying in Data Science Experience,Live,1025
1031,Develop in the cloud at the click of a button!...,Build a word game app and see how to manage an...,Build a simple word game app using Cloudant on...,Live,1026
1032,BLAZINGLY FAST GEOSPATIAL QUERIES WITH REDIS\r...,Use Redis and and Python scripts to speed your...,Blazingly Fast Geospatial Queries with Redis,Live,1027
1033,Blog Home Dataquest.io Learn Data Science in Y...,"In this post, you’ll learn to query, update, a...",Working with SQLite Databases using Python and...,Live,1028
1034,DATALAYER: MANAGING (OR NOT) THE DATA IN IMMUT...,"Adron Hall of Thrashing Code and Home Depot, t...",DataLayer Conference: Managing (or not) the Da...,Live,1029
1035,Skip to contentWin-Vector Blog\r\n\r\nThe Win-...,Describes the use of Laplace noise in machine ...,Laplace noising versus simulated out of sample...,Live,1030
1036,This work is licensed under a Creative Commons...,"A full guide to Elasticsearch, the real-time d...",The Definitive Guide,Live,1031
1037,NaN,See how quick and easy it is to set up a dashD...,Get started with dashDB on Bluemix,Live,1032
1038,The relational database has been the dominant ...,The relational database has been the dominant ...,The Many Flavors of NoSQL at That Conference,Live,1033
1039,Skip to main content IBM developerWorks / Deve...,Building your first data warehouse doesn’t hav...,Your First Data Warehouse Is Easy. Meet the ODS.,Live,1034
1040,Skip to contentDinesh Nirmal's Blog\r\n\r\nA b...,In my last blog “Business differentiation thro...,Machine Learning for the Enterprise.,Live,1035
1041,Compose The Compose logo Articles Sign in Free...,MongoDB's aggregation pipeline makes finding d...,Finding Duplicate Documents in MongoDB,Live,1036
1042,Glynn Bird Blocked Unblock Follow Following De...,Which write API endpoint is the right write ca...,"Piecemeal, Bulk, or Batch? – IBM Watson Data L...",Live,1037
1043,MENU\r\nClose\r\nSubscribe SubscribeREDUCING O...,Nothing spoils a plot like (too much) data.,Reducing overplotting in scatterplots,Live,1038
1044,Homepage IBM Watson Data Lab Follow Sign in / ...,"Getting started with custom visualizations, si...",You Too Can Make Magic (in Jupyter Notebooks w...,Live,1039
1045,Although it is built around a JavaScript engin...,Although it is built around a JavaScript engin...,How I Stopped Worrying & Learned to Love the M...,Live,1040
1046,Margriet Groenendijk Blocked Unblock Follow Fo...,Last week I attended the GeoPython conference ...,Mapping All the Things with Python – IBM Watso...,Live,1041
1047,Homepage Follow Sign in / Sign up Homepage * H...,"In this post, we will go through how to read a...",Use IBM Data Science Experience to Read and Wr...,Live,1042
1048,Homepage Follow Sign in Get started * Home\r\n...,"As more devices become internet enabled, harne...",Use IoT data in Streams Designer for billing a...,Live,1043
1049,* \r\n * \r\n * \r\n * \r\n * \r\n * \r\n * \r...,Continuing my previous work on exploring Arlin...,Mapping Points with Folium,Live,1044
1050,lA SPEED GUIDE TO REDIS LUA SCRIPTING\r\nShare...,Lua is a compact language which can be embedde...,A Speed Guide To Redis Lua Scripting,Live,1045
1051,PouchDB-find is a new API and syntax that allo...,PouchDB uses MapReduce as its default search m...,A look under the covers of PouchDB-find,Live,1046
1052,We compare discriminative and generative learn...,We compare discriminative and generative learn...,A comparison of logistic regression and naive ...,Live,1047
1053,"Essays about data, building products and boots...",In order to demystify some of the magic behind...,What I Learned Implementing a Classifier from ...,Live,1048
1054,NaN,Learn how to use IBM dashDB as data store for ...,Use dashDB with Spark,Live,1049
1055,Homepage Follow Sign in / Sign up Homepage * H...,Once you get used to developing in a Notebook ...,"Jupyter Notebooks with Scala, Python, or R Ker...",Live,1050

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [4]:
### explore the Null value
df.isnull().sum()

article_id     0
title          0
email         17
dtype: int64

In [5]:
df_new=df.dropna()

In [6]:
df_dis=df_new.groupby(['email']).count()
df_dis.head()

                                          article_id  title
email
0000b6387a0366322d7fbfc6434af145adf7fed1          13     13
001055fc0bb67f71e8fa17002342b256a30254cd           4      4
00148e4911c7e04eeff8def7bbbdaf1c59c2c621           3      3
001a852ecbd6cc12ab77a785efa137b2646505fe           6      6
001fc95b90da5c3cb12c501d201a915e4f093290           2      2

In [7]:
df_dis.describe()

        article_id        title
count  5148.000000  5148.000000
mean      8.930847     8.930847
std      16.802267    16.802267
min       1.000000     1.000000
25%       1.000000     1.000000
50%       3.000000     3.000000
75%       9.000000     9.000000
max     364.000000   364.000000

In [8]:
# Fill in the median and maximum number of user_article interactios below

median_val = 3# 50% of individuals interact with ____ number of articles or fewer.
max_views_by_user = 364# The maximum number of user-article interactions by any 1 user is ______.

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [ ]:
# Find and explore duplicate articles

In [ ]:
# Remove any rows that have the same article_id - only keep the first

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values) <br>
**d.** The number of user-article interactions in the dataset.

In [9]:
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

In [10]:
# Find and explore duplicate articles
df_content[df_content.duplicated(['article_id'])]

,doc_body,doc_description,doc_full_name,doc_status,article_id
365,Follow Sign in / Sign up Home About Insight Da...,During the seven-week Insight Data Engineering...,Graph-based machine learning,Live,50
692,Homepage Follow Sign in / Sign up Homepage * H...,One of the earliest documented catalogs was co...,How smart catalogs can turn the big data flood...,Live,221
761,Homepage Follow Sign in Get started Homepage *...,Today’s world of data science leverages data f...,Using Apache Spark as a parallel processing fr...,Live,398
970,This video shows you how to construct queries ...,This video shows you how to construct queries ...,Use the Primary Index,Live,577
971,Homepage Follow Sign in Get started * Home\r\n...,"If you are like most data scientists, you are ...",Self-service data preparation with IBM Data Re...,Live,232

In [11]:
# Remove any rows that have the same article_id - only keep the first
df_contentre=df_content.drop_duplicates(['article_id'])

In [12]:
len(df_new.article_id.unique())

714

In [13]:
len(df_content.article_id.unique())

1051

In [14]:
len(df_new.email.unique())

5148

In [15]:
unique_articles = 714# The number of unique articles that have at least one interaction
total_articles = 1051# The number of unique articles on the IBM platform
unique_users = 5148# The number of unique users
user_article_interactions = 45993# The number of user-article interactions

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was found that all of these null values likely belonged to a single user (which is how they are stored using the function below).

In [16]:
df_viewed=df_new.groupby(['article_id']).count()

In [17]:
df_viewed.describe()

            title       email
count  714.000000  714.000000
mean    64.392157   64.392157
std    109.161462  109.161462
min      1.000000    1.000000
25%      8.000000    8.000000
50%     25.000000   25.000000
75%     69.000000   69.000000
max    937.000000  937.000000

In [18]:
df_viewed[df_viewed['title']==937]

            title  email
article_id
1429.0        937    937

In [22]:
most_viewed_article_id = '1429.0'# The most viewed article in the dataset as a string with one value following the decimal 
max_views = 937 # The most viewed article in the dataset was viewed how many times?

In [20]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [23]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val,
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions,
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views,
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id,
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles,
    '`The number of unique users in the dataset is ______`': unique_users,
    '`The number of unique articles on the IBM platform`': total_articles
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

It looks like you have everything right here! Nice job!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [58]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    num_inter=df.groupby('article_id')['user_id']
    num=num_inter.count()
    rank=pd.DataFrame({'num_inter': num})
    rank_article=df.set_index('article_id').join(rank)      #### do not use df_content, it is imcomplete!!!
    top_article=rank_article.sort_values('num_inter', ascending=False)
    top_article.drop_duplicates(['title'], inplace=True)
    top_articles=list(top_article['title'].iloc[:n])
    
    return top_articles # Return the top article titles from df (not df_content)

def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    num_inter=df.groupby('article_id')['user_id']
    num=num_inter.count()
    rank=pd.DataFrame({'num_inter': num})
    rank_article=df.set_index('article_id').join(rank)
    top_article=rank_article.sort_values('num_inter', ascending=False)
    top_article.drop_duplicates(['title'], inplace=True)
    top_articles=list(top_article.index[:n])
    top_articles=[str(i) for i in top_articles]
 
    return top_articles # Return the top article ids

In [59]:
print(get_top_articles(10))
print(get_top_article_ids(10))

['use deep learning for image classification', 'insights from new york car accident reports', 'visualize car data with brunel', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'predicting churn with the spss random tree algorithm', 'healthcare python streaming application demo', 'finding optimal locations of new store using decision optimization', 'apache spark lab, part 1: basic concepts', 'analyze energy consumption in buildings', 'gosales transactions for logistic regression model']
['1429.0', '1330.0', '1431.0', '1427.0', '1364.0', '1314.0', '1293.0', '1170.0', '1162.0', '1304.0']

In [41]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Your top_5 looks like the solution list! Nice job.
Your top_10 looks like the solution list! Nice job.
Your top_20 looks like the solution list! Nice job.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [42]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    df['num']=1
    
    user_item=pd.pivot_table(df, values='num', index=['user_id'], columns=['article_id'])
    
    user_item.fillna(0, inplace=True)
    
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

In [43]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

`2.` Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar).  The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users. 

Use the tests to test your function.

In [44]:
def find_similar_users(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    '''
    dotpro=[]
    
    n=len(user_item)
    
    for i in range(1,n+1):
        dotpro.append(np.dot(user_item.loc[user_id,:],user_item.loc[i,:]))    ### number of parentheses !!!

    # sort by similarity

    df_sim = pd.DataFrame({'user_id': user_item.index.values, 'dotpro': dotpro})
    df_sim = df_sim.sort_values('dotpro', ascending=False)

    # create list of just the ids
    
    # remove the own user's id
    df_sim=df_sim[df_sim.user_id != user_id]
    most_similar_users=list(df_sim.user_id)   
       
    return most_similar_users # return a list of the users in order from most to least similar

In [45]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: [3933, 23, 3782, 203, 4459, 3870, 131, 4201, 46, 5041]
The 5 most similar users to user 3933 are: [1, 23, 3782, 203, 4459]
The 3 most similar users to user 46 are: [4201, 3782, 23]

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [46]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    article_ids2=[]
    
    for i in range(len(article_ids)):
        if isinstance(article_ids[i],str):
            a=float(article_ids[i])
            article_ids2.append(a)
        else:
            article_ids2.append(article_ids[i])
    
    article_names=[]
    #for i in range(len(article_ids)):
    #    article_names.append(df[df.articleid==article_ids[i]].drop_duplicates(['title'])['title'].iloc[0])
        
    for i in article_ids2:
        article_names.append(df[df.article_id==i].drop_duplicates(['title'])['title'].iloc[0])
    
    return article_names # Return the article names associated with list of article ids


def get_user_articles(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the doc_full_name column in df_content)
    
    Description:
    Provides a list of the article_ids and article titles that have been seen by a user
    '''
    list1=user_item.loc[user_id, :]
    
    list2=np.nonzero(list1)
    
    article_ids=list(list1.iloc[list2].index)
    
    article_ids=[str(i) for i in article_ids]
    
    article_names=get_article_names(article_ids)
    
    return article_ids, article_names # return the ids and names


def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    userlist=find_similar_users(user_id)
    
    useridseenid, useridseen= get_user_articles(user_id)
    
    rec=[]
    
    for user in userlist:
        userseenid, userseen=get_user_articles(user)
        diff=list(set(userseenid)-set(useridseenid))
        rec=rec+diff
        if len(rec) > m:
            break
        
    recs=rec[:m]
    
    return recs # return your recommendations for this user_id

In [47]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

['better together: spss and data science experience',
 'get social with your notebooks in dsx',
 'from scikit-learn model to cloud with wml client',
 'improving real-time object detection with yolo',
 'shaping data with ibm data refinery',
 'the unit commitment problem',
 'machine learning for the enterprise',
 'optimizing a marketing campaign: moving from predictions to actions',
 'analyze precipitation data',
 'ml algorithm != learning machine']

In [48]:
# Test your functions here - No need to change this code - just run this cell
assert set(get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names(['1320.0', '232.0', '844.0'])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set(['1320.0', '232.0', '844.0'])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

If this is all you see, you passed all of our tests!  Nice job!

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [49]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user - if a u
                    
    Other Details - sort the neighbors_df by the similarity and then by number of interactions where 
                    highest of each is higher in the dataframe
     
    '''
    n=len(user_item)

    dotpro=[]
    num=[]

    for i in range(1,n+1):
        dotpro.append(np.dot(user_item.loc[user_id,:],user_item.loc[i,:]))    ### number of parentheses !!!
    
        list1=user_item.loc[i,:]
        list2=np.nonzero(list1)
        num.append(len(list1.iloc[list2]))

    neighbors_df = pd.DataFrame({'user_id': user_item.index.values, 'similarity': dotpro, 'num_interactions': num})
    
    neighbors_df = neighbors_df.sort_values(by=['similarity', 'num_interactions'], ascending=False)
    
    neighbors_df=neighbors_df[neighbors_df.user_id != user_id]
    
    return neighbors_df # Return the dataframe specified in the doc_string

def get_top_sorted_articles(article_list, df=df, user_item=user_item):
    '''
    INPUT:
    article_list - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    final_list - a list with the articles with the most total interactions 
            before those with fewer total interactions. 
     
    '''

    article_list2=[float(i) for i in article_list]
    
    anum=[]

    for i in article_list2:
        alist1=user_item.loc[:,i]
        alist2=np.nonzero(alist1)
        anum.append(len(alist1.iloc[alist2]))

    article_df = pd.DataFrame({'article_id': article_list, 'num_interactions': anum})
    
    article_df = article_df.sort_values('num_interactions', ascending=False)
    
    final_list=list(article_df.article_id)
    
    return final_list # Return a list


def user_user_recs_part2(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    userlist=list(get_top_sorted_users(user_id).user_id)
    
    useridseenid, useridseen= get_user_articles(user_id)
    
    rec=[]
    
    for user in userlist:
        userseenid, userseen=get_user_articles(user)
        diff=list(set(userseenid)-set(useridseenid))
        if len(diff) == 0:
            diff=[]
        else:
            diff=get_top_sorted_articles(diff)
        rec=rec+diff
        if len(rec) > m:
            break
        
    recs=rec[:m]
    
    rec_names=get_article_names(recs)
    
    return recs, rec_names

In [50]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

The top 10 recommendations for user 20 are the following article ids:
['1330.0', '1429.0', '1314.0', '1271.0', '43.0', '1351.0', '1336.0', '1368.0', '151.0', '1338.0']

The top 10 recommendations for user 20 are the following article names:
['insights from new york car accident reports', 'use deep learning for image classification', 'healthcare python streaming application demo', 'customer demographics and sales', 'deep learning with tensorflow course by big data university', 'model bike sharing data with spss', 'learn basics about notebooks and apache spark', 'putting a human face on machine learning', 'jupyter notebook tutorial', 'ml optimization using cognitive assistant']

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

In [51]:
a=get_top_sorted_users(1)

In [52]:
b=get_top_sorted_users(131)

In [53]:
### Tests with a dictionary of results

user1_most_sim = a.user_id.iloc[0]# Find the user that is most similar to user 1 
user131_10th_sim = b.user_id.iloc[10]# Find the 10th most similar user to user 131

In [54]:
## Dictionary Test Here
sol_5_dict = {
    'The user that is most similar to user 1.': user1_most_sim, 
    'The user that is the 10th most similar to user 131': user131_10th_sim,
}

t.sol_5_test(sol_5_dict)

This all looks good!  Nice job!

`6.` If we were given a new user, which of the above functions would you be able to use to make recommendations?  Explain.  Can you think of a better way we might make recommendations?  Use the cell below to explain a better method for new users.

**Provide your response here.**

We have to use Rank Based (Knowledge Based) Recommendations for a new user. We can not use User User Based Collaborative Filtering because there is no interactions between the existing users and the new user.

Maybe we can use Content Based Recommendations for new users.

`7.` Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below.  You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [60]:
new_user = '0.0'

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 
new_user_recs = get_top_article_ids(10)# Your recommendations here

In [61]:
assert set(new_user_recs) == set(['1314.0','1429.0','1293.0','1427.0','1162.0','1364.0','1304.0','1170.0','1431.0','1330.0']), "Oops!  It makes sense that in this case we would want to recommend the most popular articles, because we don't know anything about these users."

print("That's right!  Nice job!")

That's right!  Nice job!

### <a class="anchor" id="Content-Recs">Part IV: Content Based Recommendations (EXTRA - NOT REQUIRED)</a>

Another method we might use to make recommendations is to perform a ranking of the highest ranked articles associated with some term.  You might consider content to be the **doc_body**, **doc_description**, or **doc_full_name**.  There isn't one way to create a content based recommendation, especially considering that each of these columns hold content related information.  

`1.` Use the function body below to create a content based recommender.  Since there isn't one right answer for this recommendation tactic, no test functions are provided.  Feel free to change the function inputs if you decide you want to try a method that requires more input values.  The input values are currently set with one idea in mind that you may use to make content based recommendations.  One additional idea is that you might want to choose the most popular recommendations that meet your 'content criteria', but again, there is a lot of flexibility in how you might make these recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
def make_content_recs():
    '''
    INPUT:
    
    OUTPUT:
    
    '''

`2.` Now that you have put together your content-based recommendation system, use the cell below to write a summary explaining how your content based recommender works.  Do you see any possible improvements that could be made to your function?  Is there anything novel about your content based recommender?

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

**Write an explanation of your content based recommendation system here.**

`3.` Use your content-recommendation system to make recommendations for the below scenarios based on the comments.  Again no tests are provided here, because there isn't one right answer that could be used to find these content based recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
# make recommendations for a brand new user


# make a recommendations for a user who only has interacted with article id '1427.0'

### <a class="anchor" id="Matrix-Fact">Part V: Matrix Factorization</a>

In this part of the notebook, you will build use matrix factorization to make article recommendations to the users on the IBM Watson Studio platform.

`1.` You should have already created a **user_item** matrix above in **question 1** of **Part III** above.  This first question here will just require that you run the cells to get things set up for the rest of **Part V** of the notebook.

In [ ]:
# Load the matrix here
user_item_matrix = pd.read_pickle('user_item_matrix.p')

In [ ]:
# quick look at the matrix
user_item_matrix.head()

`2.` In this situation, you can use Singular Value Decomposition from [numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.linalg.svd.html) on the user-item matrix.  Use the cell to perform SVD, and explain why this is different than in the lesson.

In [ ]:
# Perform SVD on the User-Item Matrix Here

u, s, vt = # use the built in to get the three matrices

**Provide your response here.**

`3.` Now for the tricky part, how do we choose the number of latent features to use?  Running the below cell, you can see that as the number of latent features increases, we obtain a lower error rate on making predictions for the 1 and 0 values in the user-item matrix.  Run the cell below to get an idea of how the accuracy improves as we increase the number of latent features.

In [ ]:
num_latent_feats = np.arange(10,700+10,20)
sum_errs = []

for k in num_latent_feats:
    # restructure with k latent features
    s_new, u_new, vt_new = np.diag(s[:k]), u[:, :k], vt[:k, :]
    
    # take dot product
    user_item_est = np.around(np.dot(np.dot(u_new, s_new), vt_new))
    
    # compute error for each prediction to actual value
    diffs = np.subtract(user_item_matrix, user_item_est)
    
    # total errors and keep track of them
    err = np.sum(np.sum(np.abs(diffs)))
    sum_errs.append(err)
    
    
plt.plot(num_latent_feats, 1 - np.array(sum_errs)/df.shape[0]);
plt.xlabel('Number of Latent Features');
plt.ylabel('Accuracy');
plt.title('Accuracy vs. Number of Latent Features');

`4.` From the above, we can't really be sure how many features to use, because simply having a better way to predict the 1's and 0's of the matrix doesn't exactly give us an indication of if we are able to make good recommendations.  Instead, we might split our dataset into a training and test set of data, as shown in the cell below.  

Use the code from question 3 to understand the impact on accuracy of the training and test sets of data with different numbers of latent features. Using the split below: 

* How many users can we make predictions for in the test set?  
* How many users are we not able to make predictions for because of the cold start problem?
* How many articles can we make predictions for in the test set?  
* How many articles are we not able to make predictions for because of the cold start problem?

In [ ]:
df_train = df.head(40000)
df_test = df.tail(5993)

def create_test_and_train_user_item(df_train, df_test):
    '''
    INPUT:
    df_train - training dataframe
    df_test - test dataframe
    
    OUTPUT:
    user_item_train - a user-item matrix of the training dataframe 
                      (unique users for each row and unique articles for each column)
    user_item_test - a user-item matrix of the testing dataframe 
                    (unique users for each row and unique articles for each column)
    test_idx - all of the test user ids
    test_arts - all of the test article ids
    
    '''
    # Your code here
    
    return user_item_train, user_item_test, test_idx, test_arts

user_item_train, user_item_test, test_idx, test_arts = create_test_and_train_user_item(df_train, df_test)

In [ ]:
# Replace the values in the dictionary below
a = 662 
b = 574 
c = 20 
d = 0 


sol_4_dict = {
    'How many users can we make predictions for in the test set?': # letter here, 
    'How many users in the test set are we not able to make predictions for because of the cold start problem?': # letter here, 
    'How many articles can we make predictions for in the test set?': # letter here,
    'How many articles in the test set are we not able to make predictions for because of the cold start problem?': # letter here
}

t.sol_4_test(sol_4_dict)

`5.` Now use the **user_item_train** dataset from above to find U, S, and V transpose using SVD. Then find the subset of rows in the **user_item_test** dataset that you can predict using this matrix decomposition with different numbers of latent features to see how many features makes sense to keep based on the accuracy on the test data. This will require combining what was done in questions `2` - `4`.

Use the cells below to explore how well SVD works towards making predictions for recommendations on the test data.

In [ ]:
# fit SVD on the user_item_train matrix
u_train, s_train, vt_train = # fit svd similar to above then use the cells below

In [ ]:
# Use these cells to see how well you can use the training 
# decomposition to predict on test data

`6.` Use the cell below to comment on the results you found in the previous question. Given the circumstances of your results, discuss what you might do to determine if the recommendations you make with any of the above recommendation systems are an improvement to how users currently find articles?

**Your response here.**

<a id='conclusions'></a>
### Extras
Using your workbook, you could now save your recommendations for each user, develop a class to make new predictions and update your results, and make a flask app to deploy your results.  These tasks are beyond what is required for this project.  However, from what you learned in the lessons, you certainly capable of taking these tasks on to improve upon your work here!


## Conclusion

> Congratulations!  You have reached the end of the Recommendations with IBM project! 

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the [rubric](https://review.udacity.com/#!/rubrics/2322/view). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.


## Directions to Submit

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Recommendations_with_IBM.ipynb'])